/* https://kms-a.akamaihd.net/dc-1/5.108.37.183/public/build0/publish/asset/publish.css */

.pblPaneCategory
.controls{margin-left:0}.pblPaneCategory
.navbar{height:20px}div.msg{float:left;margin-left:24px;padding-top:4px;padding-bottom:4px}.publishDataWordWrap{overflow-wrap:break-word;word-wrap:break-word}.global-unpublish{margin:-24px 0 20px}.unpublish-confirmation-message__strong{font-weight:bold;text-decoration:underline}.module-default.controller-entry.action-edit
.pblCancel{visibility:hidden}

